default_language_version:
  # force all unspecified python hooks to run python3
  python: python3
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v3.2.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: no-commit-to-branch
    args: [ '--branch', 'main.', '--branch', 'master' ]
  - id: check-json
  - id: check-yaml
    exclude: ^charts/api/templates/
    args: [--allow-multiple-documents]
  - id: detect-private-key
  - id: check-added-large-files
- repo: https://github.com/commitizen-tools/commitizen
  rev: master
  hooks:
  - id: commitizen
    name: Commitizen
    stages: [ commit-msg ]
- repo: https://github.com/sirosen/check-jsonschema
  rev: main
  hooks:
  - id: check-azure-pipelines
- repo: https://github.com/golangci/golangci-lint
  rev: master
  hooks:
  - id: golangci-lint
    name: Golang CI Lint
    description: Run fast multiple golang linters
    entry: golangci-lint run --timeout=10m --fast --exclude-use-default=false --fix
    types: [ go ]
    language: golang
